html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.25;
  color:#fff;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clear {
  height: 0px;
  width: 0px;
  display: block;
  clear: both;
  overflow: hidden;
}
@font-face {
  font-family: 'GutsICGRegular';
  src: url('gutsicg-webfont.eot');
  src: url('gutsicg-webfont.eot?#iefix') format('embedded-opentype'), url('gutsicg-webfont.woff') format('woff'), url('gutsicg-webfont.ttf') format('truetype'), url('gutsicg-webfont.svg#GutsICGRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 0px;
  margin: 0px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:11px;
  height:100%;
}

.page {
  width: 100%;
  overflow:hidden;
  background: #000;
}
.vgrid {
	margin:0 0 0 76px;
	background:url(../images/loading2.gif) no-repeat center;
}
.vgrid .v_item {
  position: relative;
  float:left;
  text-decoration: none;
  display: none;
  overflow: hidden;
  background: #000;
  cursor:pointer;
  width:200px;
  height:200px;
  -moz-transform-origin:0 50% 0;
  -webkit-transform-origin:0 50% 0;
}
.vgrid a img {
  float:left;
}
.vgrid a .enlarge {
  opacity: 0;
}
.vgrid .item_info { position:absolute;z-index:4;top:0;left:0;width:100%;height:100%;background:#fff;color:#000;display:none;text-align:center;color:#666;}
.vgrid .item_info .city { text-transform:uppercase;margin:74px 0 0;}
.vgrid .item_info .source .twitter {background:url(../images/icon_s_twitter.png) no-repeat center;height:60px;}
.vgrid .item_info .source .instagram {background:url(../images/icon_s_instagram.png) no-repeat center;height:60px;}
.vgrid .date_span { display:block;width:200px;height:200px;background:#000;float:left;overflow:hidden;text-align:center;color:#ccc;}
.vgrid .date_span .full_time {margin:52px 0 0;}
.vgrid .date_span .day {font-size:40px;margin:15px 0;color:#fff;}
.vgrid .date_span .city { text-transform:uppercase;}

.vgrid .item_icon .twitter {background:url(../images/icon_s_twitter_w.png) no-repeat center;height:15px;width:15px; position:absolute;left:5px;bottom:5px;z-index:2;}
.vgrid .item_icon .instagram {background:url(../images/icon_s_instagram_w.png) no-repeat center;height:15px;width:15px; position:absolute;left:5px;bottom:5px;z-index:2;}
.vgrid .item_icon .video {background:url(../images/icon_s_video_w.png) no-repeat center;height:15px;width:15px; position:absolute;left:5px;bottom:5px;z-index:2;}
.vgrid .item_icon .soundcloud {background:url(../images/icon_s_soundcloud_w.png) no-repeat center;height:15px;width:15px; position:absolute;left:5px;bottom:5px;z-index:2;}

.left_panel {width:100px;height:100%;position:fixed;top:0;left:0;}
.logo {background:url(../images/logo.gif) no-repeat center;width:100px;height:100px;border-bottom:1px solid #333;}
.city_time { text-align:center;color:#fff;padding:15px 0;border-bottom:1px solid #333;}
.city_time .city {margin:0 0 6px 0;color:#666;}

.category { text-transform:uppercase;text-align:left; position:absolute;bottom:20px;left:15px;}
.category li {margin:10px 0 0;}
.category a {color:#666; text-decoration:none;}
.category a:hover,.category a.actived {color:#fff;}





.p1 {z-index:3;width:200px;height:100%;}
.p2 {z-index:3;-moz-transition:all 0.6s cubic-bezier(0.8, 0.0, 1.0, 1.0) 0s;width:390px;height:100%;-moz-transform:rotateY(-90deg);-moz-transform-origin:0 50% 0; /* Firefox */ position:absolute;top:0;left:0;opacity:0;}
.p2.opened {-moz-transform:rotate3d(0,1,0,0deg);opacity:1;}
.p2.left {left:200px;}
.p3 {z-index:3;-moz-transition:all 0.6s cubic-bezier(0.8, 0.0, 1.0, 1.0) 0s;width:805px;height:100%;-moz-transform:rotateY(-90deg);-moz-transform-origin:0 50% 0; /* Firefox */position:absolute;top:0;left:0;opacity:0; -moz-transform-style: preserve-3d;}
.p3.opened {-moz-transform:translate3d(0,0,20px) rotate3d(0,1,0,0deg);-webkit-transform:translate3d(0,0,20px) rotate3d(0,1,0,0deg);transform:translate3d(0,0,20px) rotate3d(0,1,0,0deg);opacity:1;}
.p3.left {left:580px;}

.d1 { position:fixed;top:0;left:100%;width:100%;height:100%;z-index:9999;overflow:hidden;}
#dc1 {z-index:9999;perspective:2000px;-webkit-perspective:2000px;width:25%;height:100%;overflow:hidden;border-right:1px solid #333;display:none;transition:all 0.3s ease-in;-moz-transform:rotateY(0);-webkit-transform:rotateY(0);-moz-transform-origin:100% 50% 0;-webkit-transform-origin:100% 50% 0;position:fixed;top:0;left:0;opacity:1;}
.dc1_cube { position: absolute;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;width:100%;height:100%;-moz-transition:all 0.5s linear 0s;-webkit-transition:all 0.5s linear 0s;}
.dc1_face1 {background:#000;position:absolute;transform:rotateY(0deg) translateZ( 100px );-webkit-transform:rotateY(0deg) translateZ( 100px );width:100%;height:100%;}
.dc1_face2 {background:#444;position:absolute;transform:rotateY(90deg) translateZ( 100px );-webkit-transform:rotateY(90deg) translateZ( 100px );width:100%;height:100%;}
.dc1_face3 {background:#444;position:absolute;transform:rotateY(180deg) translateZ( 100px );-webkit-transform:rotateY(180deg) translateZ( 100px );width:100%;height:100%;}
.dc1_face4 {background:#444;position:absolute;transform:rotateY(-90deg) translateZ( 100px );-webkit-transform:rotateY(-90deg) translateZ( 100px );width:100%;height:100%;}

.dc1_face1_show { transform: translateZ( -100px ) rotateY(  0deg );-webkit-transform: translateZ(-100px) rotateY(0deg);}
.dc1_face2_show { transform: translateZ( -100px ) rotateY(  -90deg );-webkit-transform: translateZ(-100px) rotateY(-90deg);}
.dc1_face3_show { transform: translateZ( -100px ) rotateY(  -180deg );-webkit-transform: translateZ(-100px) rotateY(-180deg);}
.dc1_face4_show { transform: translateZ( -100px ) rotateY(  -270deg );-webkit-transform: translateZ(-100px) rotateY(-270deg);}

#dc1.opened {transform:rotateY(0deg);-moz-transform:rotateY(0deg);-webkit-transform:rotateY(0deg);opacity:1;}
#dc1 .photo_date {text-align:center; text-transform:uppercase;border:1px solid #333;border-right:none;padding:20px 0;}
#dc1 .photo_date .day {font-size:96px;}
#dc1 .photo_time {text-align:center;padding:20px 0;border:1px solid #333;border-top:none;border-bottom:none;border-right:none;}
#dc1 .photo_time .time {margin:0 0 10px 0;}
#dc1 .source {padding:70px 0 50px 0;border:1px solid #333;text-align:center;border-right:none;}
#dc1 .source.twitter {background:url(../images/icon_s_twitter_w2.png) no-repeat center 40px ;}
#dc1 .back {border:1px solid #333;border-top:none;border-right:none;text-align:center;text-indent:-30px; text-transform:uppercase;font-size:14px;background-image:url(../images/icon_back.gif);background-repeat:no-repeat;height:98px;line-height:98px;cursor:pointer;}
#dc1 .back:hover {background-color:#fff;color:#000;}
#dc1 .nav_arrow { position:absolute;bottom:0;border-top:1px solid #333;z-index:9999;}
#dc1 .nav_arrow_left {background-image:url(../images/icon_arrow_left.gif);width:99px;height:98px;cursor:pointer;border:1px solid #333;border-right:none;border-top:none;float:left;}
#dc1 .nav_arrow_left:hover {background-color:#fff;}
#dc1 .nav_arrow_right {background-image:url(../images/icon_arrow_right.gif);width:99px;height:98px;cursor:pointer;border:1px solid #333;border-top:none;border-right:none;float:left;}
#dc1 .nav_arrow_right:hover {background-color:#fff;}


#dc2 {z-index:10;perspective:2000px;-webkit-perspective:2000px;display:none;border-right:1px solid #333;background:#000;z-index:10;-moz-transition:all 0.3s ease-in;width:390px;height:100%;opacity:0;-moz-transform-origin:100% 50% 0;-webkit-transform-origin:100% 50% 0; position:fixed;top:0;left:0;overflow:hidden;}
.dc2_bigcube { position: absolute;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;width:390px;height:100%;-moz-transition:all 0.5s linear 0s;-webkit-transition:all 0.5s linear 0s;}
.dc2_bigcube_face1 {background:#000;position:absolute;transform:rotateY(0deg) translateZ( 195px );-webkit-transform:rotateY(0deg) translateZ( 195px );width:390px;height:100%;}
.dc2_bigcube_face2 {background:#444;position:absolute;transform:rotateY(90deg) translateZ( 195px );-webkit-transform:rotateY(90deg) translateZ( 195px );width:390px;height:100%;}
.dc2_bigcube_face4 {background:#444;position:absolute;transform:rotateY(-90deg) translateZ( 195px );-webkit-transform:rotateY(-90deg) translateZ( 195px );width:390px;height:100%;}

.dc2_bigcube_face1_show { transform: translateZ( -195px ) rotateY(  0deg );-webkit-transform: translateZ(-195px) rotateY(0deg);}


#dc2.opened {left:201px;transform:rotateY(0deg);-moz-transform:rotateY(0deg);-webkit-transform:rotateY(0deg);opacity:1;}
#dc2 .dc2_header { text-transform:uppercase;border-bottom:1px solid #333;height:101px;width:600px;}
#dc2 .btn_close {float:left;width:100px;height:100px;border:1px solid #333;border-bottom:none; cursor:pointer;background:#000 url(../images/close.png) no-repeat;}
#dc2 .btn_close:hover {background-color:#fff;}
#dc2 .btn_share,#dc2 .btn_comments,#dc2 .btn_like {height:100px;line-height:100px;cursor:pointer;color:#fff;float:left;text-align:center;}
#dc2 .btn_like {width:102px;}
#dc2 .btn_like:hover {opacity:0.5;}
#dc2 .btn_share:hover,#dc2 .btn_comments:hover,#dc2 .btn_share.actived,#dc2 .btn_comments.actived {color:#666;}
#dc2 .btn_like span {float:left;}
#dc2 .btn_like .like_counts {font-size:14px;margin:0 0 0 27px;width:20px;}
#dc2 .btn_like .like_icon {margin:3px 0 0 4px;}
#dc2 .btn_comments {width:148px;}
#dc2 .btn_share {width:140px;}
#dc2 .userinfo {margin:40px 0 0 30px;}
#dc2 .userinfo .avator {float:left;}
#dc2 .userinfo .username {float:left;margin:14px 0 0 10px;}
#dc2 .userinfo .username a {color:#fff; text-decoration:none;}
#dc2 .userinfo .username a:hover {color:#bbb;}
.dc2_section1 {padding:1px 0 0;}
.dc2_section1 .body {margin:200px 30px 0 30px;font-size:16px; text-transform:uppercase;color:#ccc;}
.dc2_section1 .body a {color:#fff; text-decoration:none;}
.dc2_section1 .body a:hover {color:#bbb;}
.dc2_cube_wrap { position:relative;perspective:1000px;-webkit-perspective:1000px;width:390px;height:500px;}
.dc2_cube { position: absolute;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;width:390px;height:500px;-moz-transition:all 0.3s ease-in 0s;-webkit-transition:all 0.3s ease-in 0s;}
.dc2_cube.show_comments {transform: translateZ( -195px );-webkit-transform: translateZ( -195px );}
.dc2_cube.show_share { transform: translateZ( -195px ) rotateY(  -90deg );-webkit-transform: translateZ(-195px) rotateY(-90deg);}
.comments_box {background:#000;width:50%;height:500px;float:left;}
.icons_share {background:#000;width:50%;height:500px;float:left;}

.comment_form .loading {display:none;}
.form_item {margin:7px 0; position:relative;}
.form_item label.error { position:absolute; top:0px;left:80px;color:#888; text-transform:none;}
.form_item label {display:block;color:#eee; margin:0 0 3px 0;text-transform:uppercase;}
.form_item .text_input {background:#222;width:100%;border:1px solid #333;padding:6px 4px;color:#fff; font-family:Arial, Helvetica, sans-serif;font-size:11px;}
.form_item .text_input:focus {background:#333;border:1px solid #444;}
.form_item .button_input {background:#222;border:1px solid #333;color:#eee;padding:4px 10px;}
.form_item .button_input:hover {background:#111;border:1px solid #222;color:#fff;}
.form_item_submit span {color:#888;margin:0 0 0 10px;}



#dc3 {display:none;z-index:3;-moz-transition:left 0.3s ease-in 0s;-webkit-transition:left 0.3s ease-in 0s;width:805px;height:100%;-moz-transform-origin:0 50% 0;-webkit-transform-origin:0 50% 0; /* Firefox */position:fixed;top:0;left:0;opacity:0; }
#dc3.opened {left:590px;opacity:1;}
.dc3_wrap {width:100%;height:100%; position:absolute;top:0;z-index:0;transform: translate3d(0,0,0);-webkit-transform: translate3d(0,0,0);-moz-transform-origin:0 50% 0;-webkit-transform-origin:0 50% 0;background:url(../images/loading2.gif) no-repeat center;}
.dc3_wrap:last-child {cursor:pointer;}
#dc3_arrow {opacity:0.3;display:none;width:9px;height:17px;background:url(../images/dc3_arrow.gif) no-repeat; position:fixed;top:50%;right:20px;z-index:999;}

.icons_share ul {margin:40px 0 0 15px;}
.icons_share li {float:left;margin:10px;}
.icons_share a {display:block;width:72px;height:72px;background-color:#000;border:1px solid #333;}
.icons_share a:hover {background-color:#fff;}
.icons_share .facebook { background-image:url(../images/icon_facebook.png); background-repeat:no-repeat;background-size: 72px 432px;}
.icons_share .facebook:hover {background-position:bottom;}
.icons_share .google { background-image:url(../images/icon_google.png); background-repeat:no-repeat;background-size: 72px 432px;}
.icons_share .google:hover {background-position:bottom;}
.icons_share .twitter { background-image:url(../images/icon_twitter.png); background-repeat:no-repeat;background-size: 72px 432px;}
.icons_share .twitter:hover {background-position:bottom;}
.icons_share .weibo { background-image:url(../images/icon_weibo.png); background-repeat:no-repeat;background-size: 72px 432px;}
.icons_share .weibo:hover {background-position:bottom;}
.icons_share .pinterest { background-image:url(../images/icon_pinterest.png); background-repeat:no-repeat;background-size: 72px 432px;}
.icons_share .pinterest:hover {background-position:bottom;}
.icons_share .huaban { background-image:url(../images/icon_huaban.png); background-repeat:no-repeat;background-size: 72px 432px;}
.icons_share .huaban:hover {background-position:bottom;}

.comments_list {padding:20px 20px 0 20px;}
.comment_item {margin:10px 0;padding:0 0 10px 0;}
.comment_title {height:22px;}
.comment_title .avator {float:left;}
.comment_title .name {float:left;margin:2px 0 0 10px;}
.comment_title .date {float:left;margin:2px 0 0 10px;color:#888;}
.comment_body {color:#ccc;}
.comment_item {border-bottom:1px solid #222;}
.comment_form {padding:0 22px;}
.vgrid_bottom { position:absolute;top:2000px;height:1000px;}





/** mobile ***/
.d1_header {border-bottom:1px solid #333;height:80px; position:absolute;top:0;left:0;z-index:999;width:100%;background:#000;}
.d1_header .back {text-align:center;text-indent:-30px; text-transform:uppercase;font-size:14px;background:url(../images/m_back.gif) no-repeat center 24px;cursor:pointer;float:left;width:25%;height:80px;}
.d1_header .back:active {background:#fff url(../images/m_back.gif) no-repeat center -68px;}
.d1_header .photo_date {text-align:center; text-transform:uppercase;border-left:1px solid #333;padding:0 0;padding:7px 0 0;height:73px;}
.d1_header .photo_date .day {font-size:30px;}
.d1_header .photo_time {text-align:center;float:left;width:100%;height:80px;border-left:1px solid #333;}
.d1_header .photo_time .time {margin:4px 0 0 0;}
.d1_header .source {background:#000;padding:0 0 0 0;border-left:1px solid #333;text-align:center;float:left;width:100%;height:80px;}
.d1_header .source p {padding:25px 0 0;}
.d1_header .source div {padding:10px 0 0;height:70px;text-align:center;border-right:none;}
.d1_header .source .twitter {background:url(../images/icon_s_twitter_w2.png) no-repeat center 35px ;}
.d1_header .source .instagram {background:url(../images/icon_s_instagram_w2.png) no-repeat center 35px ;}
.d1_header .source .weibo {background:url(../images/icon_s_weibo_w2.png) no-repeat center 35px ;}


.cube_wrap1 {perspective:1000px; position:relative;float:left;width:25%;height:80px;-moz-transform-origin:0 50% 0;}
.cube1 {position: absolute;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;width:100%;height:80px;-moz-transition:all 0.5s linear 0s;-webkit-transition:all 0.5s linear 0s;}
.cube1_face1 {background:#000;position:absolute;width:100%;height:73px;}
.cube1_face2 {background:#000;position:absolute;width:100%;height:73px;}
.cube1_face3 {background:#000;position:absolute;width:100%;height:73px;}

.cube_wrap3 {perspective:1000px; position:relative;float:left;width:25%;height:80px;-moz-transform-origin:0 50% 0;}
.cube3 {position: absolute;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;width:100%;height:80px;-moz-transition:all 0.5s linear 0s;-webkit-transition:all 0.5s linear 0s;}
.cube3_face1 {background:#000;position:absolute;width:100%;height:73px;}
.cube3_face2 {background:#000;position:absolute;width:100%;height:73px;}
.cube3_face3 {background:#000;position:absolute;width:100%;height:73px;}

.cube_wrap2 {perspective:1000px; position:relative;float:left;width:25%;height:80px;-moz-transform-origin:0 50% 0;}
.cube2 {position: absolute;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;width:100%;height:80px;-moz-transition:all 0.5s linear 0s;-webkit-transition:all 0.5s linear 0s;}
.cube2_face1 {background:#000;position:absolute;width:100%;height:73px;}
.cube2_face2 {background:#000;position:absolute;width:100%;height:73px;}
.cube2_face3 {background:#000;position:absolute;width:100%;height:73px;}

.comments_cube_wrap {perspective:1000px; position:relative;width:100%;-moz-transform-origin:0 50% 0;}
.comments_cube {width:200%;  position:absolute;}

.d1_footer1 { position:absolute;background:#000;bottom:50px;width:100%;border-top:1px solid #333;}
.d1_footer1 .userinfo {float:left;width:40%;height:40px;padding:15px 0 15px 1px;}
.d1_footer1 .avator {float:left;margin:0 0 0 5px;}
.d1_footer1 .username {float:left;margin:12px 0 0 10px;}
.d1_footer1 .body {float:left;width:59%;border-left:1px solid #333;height:40px;padding:15px 0;}
.d1_footer1 .body p {margin:0 0 0 10px;}
.d1_footer1 .body a {color:#ccc; text-decoration:none;}

.d1_footer2 { position:absolute;bottom:0;width:100%;border-top:1px solid #333;background:#000;}
.d1_footer2 .nav_arrow_left {width:15%;height:51px;border-right:1px solid #333;cursor:pointer;float:left;background:url(../images/m_arrow_left.gif) no-repeat center -8px;background-size:12px 147px;}
.d1_footer2 .nav_arrow_left:active {background:#fff url(../images/m_arrow_left.gif) no-repeat center -180px;}
.d1_footer2 .nav_arrow_right {width:15%;height:51px;border-right:1px solid #333;cursor:pointer;float:left;background:url(../images/m_arrow_right.gif) no-repeat center -8px;background-size:12px 147px;}
.d1_footer2 .nav_arrow_right:active {background:#fff url(../images/m_arrow_right.gif) no-repeat center -180px;}
.d1_msg {border-top:1px solid #333;}
.d1_msg .btn_like {width:33%;float:left;border-right:1px solid #333;height:50px;}
.d1_msg .btn_like span {float:left;}
.d1_msg .btn_like_m {width:40px;margin:0 auto;}
.d1_msg .btn_like .like_counts {font-size:14px;margin:17px 0 0 0;width:20px;}
.d1_msg .btn_like .like_icon {margin:19px 0 0 0;width:14px;height:14px;background:url(../images/icon_like_m.gif) no-repeat;background-size:14px 14px;}
.d1_msg .btn_comments {width:33%;float:left;border-right:1px solid #333;border-left:1px solid #333;border-bottom:1px solid #333;height:50px;text-align:center;line-height:50px;font-size:8px;}
.d1_msg .btn_comments:active {background:#fff;color:#000;}
.d1_msg .btn_share {width:33%;float:left;height:50px;text-align:center;line-height:50px;border-bottom:1px solid #333;font-size:7px;}
.d1_msg .btn_share:active {background:#fff;color:#000;}
.d1_msg {width:70%; position:absolute;bottom:0;right:0;background:#000;border-left:1px solid #333;}
.d1_col1_wrap {width:33%;float:left;overflow:hidden;border-bottom:1px solid #333;}
.d1_col1 {height:50px;}
.btn_close {height:50px;float:left;background:url(../images/m_close.png) no-repeat center center;background-size:20px 20px;}


.d1_mid {width:100%;height:300px;margin:81px 0 0 0; position:absolute;background:#000;}
.dc3_wrap {width:90%; position:absolute;}


.home_header { position:fixed;top:0;background:#000;border-right:1px solid #333;width:76px;height:100%;}
.home .logo {background:url(../images/logo.gif) no-repeat center;width:76px;height:76px;border-bottom:none;background-size:76px 76px;}
.home .city_time { text-align:center;color:#fff;padding:10px 0;border-top:1px solid #333;}
.home .city_time .city {margin:0;color:#666;}
.city_time:hover {background:#fff;color:#000;}

.home .source {float:right;margin:2px 7px 0 0;}
.home .category { position:relative;bottom:auto;left:auto;padding:0 0;}
.home .category li {margin:4px 5px 0 0;}
.home .category li.all a {background-position:-73px 0;}
.home .category li.pic a {background-position:-73px -85px;}
.home .category li.video a {background-position:-73px -175px;margin:8px 0;}
.home .category li.music a {background-position:-73px -269px;}
.home .category li a {color:#666; text-decoration:none;display:block;height:40px;background:url(../images/m/category_icon.png) no-repeat;background-size:145px 337px;text-indent:-999em;}
.home .category a:hover,.category a.actived {color:#fff;}
.home .category li.all a:hover,.home .category li.all a.actived {background-position:5px 0;}
.home .category li.pic a:hover,.home .category li.pic a.actived {background-position:5px -85px;}
.home .category li.video a:hover,.home .category li.video a.actived {background-position:5px -175px;margin:8px 0;}
.home .category li.music a:hover,.home .category li.music a.actived {background-position:5px -269px;}

.home_gallery {margin:0 0 0 77px;}
.v_item_info {height:25px;line-height:25px;padding:10px;color:#999;}
.v_item_info .date {float:left;}
.v_item_info .city {float:right;}
.v_item { position:relative;
  -moz-transform-origin:0 50% 0;
  -webkit-transform-origin:0 50% 0;}
.v_item .item_icon .twitter {background:url(../images/icon_s_twitter_w.png) no-repeat center;height:15px;width:15px; position:absolute;left:5px;bottom:5px;z-index:2;}
.v_item .item_icon .instagram {background:url(../images/icon_s_instagram_w.png) no-repeat center;height:15px;width:15px; position:absolute;left:5px;bottom:5px;z-index:2;}
.v_item .item_icon .video {background:url(../images/icon_s_video_w.png) no-repeat center;height:15px;width:15px; position:absolute;left:5px;bottom:5px;z-index:2;}
.v_item .item_icon .soundcloud {background:url(../images/icon_s_soundcloud_w.png) no-repeat center;height:15px;width:15px; position:absolute;left:5px;bottom:5px;z-index:2;}

.space1 {height:100px;}

.loading {background:#000 url(../images/loading.gif) no-repeat center;background-size:80px 80px;width:100%;height:100%; position:fixed;z-index:9999;}
.loading2 {background:url(../images/loading2.gif) no-repeat center;background-color:rgba(0,0,0,0.2);}

.tapcover { position:absolute;top:73px;width:100%;z-index:9999;}